@model List<Story>
@{
    ViewData["Title"] = "Stories";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Submissions So Far</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>Submitted stories</h1>
    @foreach (Story r in Model)
    {
        <h2> @r.Title </h2>
        @r.Date <br />
        @r.StoryText <br />
        <br />
        @if (r.Comments.Count > 0)
        {
            <h3>Story comments</h3>
            @foreach (Comment c in r.Comments)
            {

                <br />@c.CommentText <br />
            }
            <br />
        }
        <a asp-action="AddComment" asp-route-title="@r.Title">Add your voice</a>
    }

    <br />

    <form method="post">
        Search by Title<br />
        Enter title:
        <input name="title" />
        <input type="submit" />
    </form>

    <form method="post">
        Search by Date<br />
        Enter date:
        <input name="date" />
        <input type="submit" />
    </form>

    <nav>
        <br />
        <a href="StoriesForm">Add your story</a><br />
        <a href="/Home">Home</a>
    </nav>
</body>
</html>



